<h1>
    Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart" style="margin: 0 auto;">
    <div class="card-body">
        <p>
            You have <b>{{ cart.totalItemsCount }}</b> items in your shopping cart.
            <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-danger">Clear Shopping Cart</button>

        </p>
    </div>

    <table id="tblproducts" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th style="width: 200px"></th>
                <th>Product</th>
                <th style="width: 230px">Quantity</th>
                <th class="text-center">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
                    </div>
                </td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart">
                    </product-quantity>
                </td>
                <td class="text-center">
                    {{ item.totalPrice | currency:'EUR':true }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-center">{{ cart.totalPrice | currency:'EUR':true }}</th>
            </tr>
            <tr>
                <th colspan="4">
                    <a *ngIf="cart.items.length" routerLink="/check-out" class="float-right btn btn-primary">Check Out</a>
                </th>
            </tr>
        </tfoot>
    </table>
</div>