/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
$primary-color: purple;
$secondary-color: #c1d62e;
body {
    padding-top: 80px;
}

.list-group-item.active,
.btn-primary,
.btn-primary:disabled,
.btn-primary:hover,
.list-group-item.active,
.table .thead-dark th {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
a:hover,
a:active,
a:focus,
a {
    color: $primary-color !important;
}

.badge {
    font-size: 100%;
}

.container {
    max-width: 1500px;
}

.btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.card-columns {
    column-count: 2;
}

.form-control:focus {
    border-left: 10px solid #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 10px solid #42A948 !important;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 10px solid #a94442;
    /* red */
}

.table th,
.table td {
    vertical-align: middle;
}